/* © 2013 Планета Нептуна. Все права защищены. 
 * Запрещено использование материалов сайта без 
 * согласия его авторов и обратной ссылки. */
#logo{
    background-image:url(../images/logo_en.jpg);
}
#item1{width: 130px;}
#item2{width: 147px;}
#item3{width: 193px;}
#item4{width: 138px;}
#item5{width: 168px;}
#item6{width: 154px;}
.footer_text{
	width: 310px;
}
.footer_hlines_left{
	width: 267px;
} 
.footer_hlines_right{
	width: 320px;
}
.news_text{
	width: 167px;
}
.news_hline_right{
	width: 305px;
}
#copyr_hline_left, #copyr_hline_right{
	width: 292px;
}
#copyr_content{
	width: 351px;
}